@import '../variables.scss';

body {

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 80vh;
      width: 100vw;
      background-color: $darkBackgroundColor;

      h1 {
        margin-bottom: 100px;
        font-size: calc(50px + 5vw);
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      
      @include defaultButton;

      .loginButton {
        margin-right: 25px;
      }
    }

  }
}